{% extends "base.html" %}

{% block content %}
<h1>Упс! Кажется, что-то пошло не так</h1>
<p>Письмо об ошибке уже направлено администратору</p>
<p><a href="{{ url_for('index') }}">Back</a></p>
{% endblock %}