<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<h1>Database</h1>
<table border="1" cellpadding="5">
    <caption><h1>{{title}}</h1></caption>
    {% for column in columns %}
    <th align="center"> column </th>
    {% endfor %}
    {% for item in items %}
    <tr>
        <td align="center"> {{item[0]}} </td>
        <td align="center"> {{item[1]}} </td>
        <td align="center"> {{item[2]}} </td>
        <td align="center"> {{item[3]}} </td>
        <td align="center"> {{item[4]}} </td>
        <td align="center"> {{item[5]}} </td>
        </td>
        {% endfor %}
</table>
{% endblock %}