<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
    <ul class="nav navbar-nav">
        <li><a href="{{ url_for('cryobank') }}">Криобанк</a></li>
        <li><a href="{{ url_for('research') }}">Исследования</a></li>
        <li><a href="{{ url_for('blood') }}">Кровь</a></li>
        <li><a href="{{ url_for('urine') }}">Урина</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('download_file', filename=live_collection) }}">Скачать</a></li>
    </ul>
</div>
{% endblock %}