<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
    <ul class="nav navbar-nav">
        <li><a href="{{ url_for('cryobank') }}">Криобанк</a></li>
        <li><a href="{{ url_for('research') }}">Исследования</a></li>
        <li><a href="{{ url_for('blood') }}">Кровь</a></li>
        <li><a href="{{ url_for('urine') }}">Урина</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('download')}}">Скачать</a></li>
    </ul>
</div>

<table width="100%" border="1" align="center" cellpadding="10">
<caption> <h1>{{title}}</h1> </caption>
{% for column in columns %}
<th align="center"> {{column}} </th>
{% endfor %}
{% for item in items %}
<tr>    
    <td align="center"> {{item[0]}} </td>
    <td align="center"> {{item[1]}} </td>
    <td align="center"> {{item[2]}} </td>
    <td align="center"> {{item[3]}} </td>
    <td align="center"> {{item[4]}} </td>
    <td align="center"> {{item[5]}} </td>
    </td>
    {% endfor %}
</table>
{% endblock %}