{% extends "base.html" %}

{% block content %}
<hr>
<form method=post enctype=multipart/form-data>
<p>Загрузите таблицу на сервер</p>
<p><input type="file" name="file" accept="*/*">
<input type="submit" value="Отправить"></p>
<p>Обратите внимание, что заглавная строка загружаемой таблицы должна соответствовать шаблону и иметь расширение .xlsx или .xls </p>
</form>
{% endblock %}